global:
  scrape_interval: <%= @scrape_interval %>s
  scrape_timeout: <%= @scrape_timeout %>s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['<%= @listen_address %>']
<% if node['gitlab']['node-exporter']['enable'] %>
  - job_name: node
    static_configs:
      - targets: ['<%= node['gitlab']['node-exporter']['listen_address'] %>']
<% end -%>
<% if node['gitlab']['redis-exporter']['enable'] %>
  - job_name: redis
    static_configs:
      - targets: ['<%= node['gitlab']['redis-exporter']['listen_address'] %>']
<% end -%>
<% if node['gitlab']['postgres-exporter']['enable'] %>
  - job_name: postgres
    static_configs:
      - targets: ['<%= node['gitlab']['postgres-exporter']['listen_address'] %>']
<% end -%>
<% if node['gitlab']['gitlab-monitor']['enable'] %>
  - job_name: gitlab_monitor_database
    metrics_path: /database
    static_configs:
      - targets: ['<%= node['gitlab']['gitlab-monitor']['listen_address'] + ":" + node['gitlab']['gitlab-monitor']['listen_port'] %>']
  - job_name: gitlab_monitor_sidekiq
    metrics_path: /sidekiq
    static_configs:
      - targets: ['<%= node['gitlab']['gitlab-monitor']['listen_address'] + ":" + node['gitlab']['gitlab-monitor']['listen_port'] %>']
  - job_name: gitlab_monitor_process
    metrics_path: /process
    static_configs:
      - targets: ['<%= node['gitlab']['gitlab-monitor']['listen_address'] + ":" + node['gitlab']['gitlab-monitor']['listen_port'] %>']
<% end -%>
